*{
    box-sizing: border-box;
}

body{
    line-height: 26px;
    font-size: 16px;
}
.caption{
    top: 150px;
    left: 100px;
    text-align: left;
}
.carousel slide {
    height: 100vh;
}
.w-text{
    width: 35%;
    /* font-size: 54px; */
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;

}
.main-color{
   color:  #313F48;
}
.second-color{
    color: #F5581D;
}
.bg-second-color{
    background-color: #F5581D;
}
.bg-main-color{
    background-color: #313F48 ;
}
.above-carsuel{
    bottom: 10%;
    left: 15%;
}




#education{
    width: 100%;
    height: 60vh;
    background-image: url(../assets/imgs/5197.jpg);
    background-position: center center;
    background-size: cover;
}
.special-btn{
    border: 1px solid #F5581D;
}




.content .card img:hover{
    transform: scale(1.1);
}

.content .card .card-title:hover{
color: #F5581D;
};
.symbol-color{
    color: #F5581D;

}


#numbers{
    /* width: 100%; */
    /* height: 200px; */
    background-image: url(../assets/imgs/sld67.jpg);
    background-position: top center;
    background-size: cover;
    height: 75vh;
}

.spetor{
    border-right: 2px solid white ;
    /* height: 7px; */
}
/* .content-num{
    padding-right: 30px;
} */
