<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Exam!!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="../../static/styles/all.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/styles/all.css">
    <link rel="stylesheet" type="text/css" href="../../static/styles/bootstrap.css">
    <link rel='stylesheet' type='text/css' href='../../static/styles/exams.css'>

</head>

<body>
    <form action="#" id="quiz">
        <div class="container" id="exambody">
            <div class="row time-div">
                <p class="exam-title ">Exam:</p>
                <p id="examName">1sas1zz</p>
            </div>
            <div class="row sticky-top time-div">
                <p class="time-title">Time:</p>
                <p id="time">30s</p>
            </div>


        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 question-container container-fluid">
                    <div class="row">
                        <input id="submitbutton" type="submit" value="Send Answers">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="../../static/styles/html5shiv.min.js"></script>
    <script src="../../static/styles/jquery-3.5.1.slim.min.js"></script>
    <script src="../../static/styles/popper.js"></script>
    <script src="../../static/styles/bootstrap.js "></script>
    <script src='../../static/styles/exams.js'></script>
    <script src='../../static/styles/examCreator.js'></script>
</body>

</html>